@model IEnumerable<EducareApplication.EducareService.AdmissionTable>

@{
    ViewBag.Title = "Dashbboard";
}


<div class="card" style="margin-top: 100px;">
    <div class="card-body">


        <div class="row">
            <div class="col-lg-6">
                <h2 class="card-title"><span class="fa fa-desktop"></span> Dashboard</h2>
            </div>
            <div class="col-lg-6 text-lg-right">

                <a href="#" class="btn btn-sm btn-success" onclick="$('#isloading').show(), setTimeout(function() { window.location.reload(true) }, 1000)"><span class="fa fa-redo"></span> Refresh Data</a>

                <a href="~/Registration/GenerateRegistration" onclick="$('#isloading').show()" class="btn btn-sm btn-primary"><span class="fa fa-user-plus"></span>Register Student</a>
            </div>
        </div>
        <div class=" dropdown-divider"></div>

        @using (Html.BeginForm("AdmissionFilter", "Registration", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            ;
            <div >


                <div class="card">
                    <div class="card-body">

                        <div class="row">
                            <div class="col-lg-4">
                                <input type="number" class="form-control" name="registrationid" placeholder="Serch Registration Id"/>
                            </div>
                            <div class="col-lg-4">
                                <input type="text" class="form-control" name="studentName" id="textname" onmouseover="$('#textname').val() = '';" value="Enter Student Name" placeholder="Serch By Student Name"/>
                            </div>
                            <div class="col-lg-4 text-lg-right">
                                <button class="btn btn-sm btn-dark " onclick="$('#isloading').show(), $('#lodertext').html('Searching...')"><span class="fa fa-check"></span> Search</button>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        }
        <br/>
        @if (Model != null)
        {
            <div class="table-responsive">
                <table class="table table-bordered">
                    <tr>
                        <th>
                            Photo
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.STU_NAME)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.STU_CITY)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.STU_STATE)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.STU_NATI)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.STU_GENDER)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.STU_MOBILE)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.STU_DOA)
                        </th>

                        <th>
                            Action
                        </th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>

                                @if (item.ImgURL != null)
                                {
                                    <img src="@item.ImgURL" alt="Alternate Text" class="card-img-custom"/>
                                }
                                else

                                {
                                    <img src="~/Images/eiffel-tower-wallpaper-4k-476931.jpg" alt="Alternate Text" class="card-img-custom"/>
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.STU_NAME)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.STU_CITY)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.STU_STATE)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.STU_NATI)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.STU_GENDER)
                            </td>


                            <td>
                                @Html.DisplayFor(modelItem => item.STU_MOBILE)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.STU_DOA)
                            </td>

                            <td>
                                @Html.ActionLink(".", "AdmissionPageGenerater", new {Registrationid = item.STU_ID}, new {@class = "btn btn-sm btn-outline-info fa fa-eye", id = "FormGenerater"}) |

                                @Html.ActionLink(".", "DeteteStudent", new {postid = item.STU_ID}, new {@class = "btn btn-sm btn-outline-danger fa fa-trash"})
                            </td>
                        </tr>
                    }

                </table>
            </div>
        }
        else
        {
            <div class="alert alert-info">
                <div class="alert-heading">
                    <span fa fa-databse></span> There Is now Record in DataBase
                </div>
            </div>
        }
    </div>
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>

 
